.large-2.columns
    ul.side-nav
        li
            a(href="/admin/stats") Site Statistics
        li.divider
        li
            a(href="/admin") Manage Site
        li.divider
        li
            a(href="/admin/users") Manage Users