.row
    .large-12.columns
        .panel
            ul.inline-list
                li
                    a(href='/') About
                li
                    a(href='/') Help
                li
                    a(href='/') Blog
                li
                    a(href='/') Contact
                li
                    a(href='/entities/new')
                        span.round.alert.label Get Talk2us
                li.right
                    a(href='/') Copyright 2013