h4 Your Sites
table(width='100%')
    thead
        tr
            th(width="10%").text-center Short Name
            th(width="20%").text-center Site Name
            th(width="25%").text-center URL
            th(width="40%").text-center Insert Code
            th(width="5%")
                a.button.small(href='/entities/new') Add
    tbody
        tr(ng-repeat="entity in entities")
            th {{entity.shortname}}
            th {{entity.name}}
            th {{entity.url}}
            th
                small {{entity.code}}
            th(style="display:none", showonhoverparent)
                a.button.tiny(ng-click="remove(entity._id)") Remove


//th
//    a(href="#/view/{{entity._id}}") {{entity.shortname}}