extends ../layouts/layout-foundation

block content
  .row
    .large-12.columns
      .panel.callout
        .row
          .large-12.columns
            a(href='#')
              h1.text-center Talk2us
        .row
          .large-12.columns
            h4.subheader.text-center Sign-in using
  .row
    .large-6.columns.large-centered.moveup
      .panel
        .row
          .large-12.columns
              .large-2.columns
                a(href="/auth/facebook").fc-webicon.facebook.large
              .large-2.columns
                a(href="#").fc-webicon.googleplus.large
              .large-2.columns
                 a(href="/auth/facebook").fc-webicon.customlogo.large

          block localauth