extends ../layouts/layout-foundation

block content
  #root(ng-app="talk2us", ng-controller="SigninCtrl")
      .row
        .large-12.columns
            .panel.callout
                include ../includes/thin-header
      .row
        .large-6.columns.large-centered.moveup
          .panel
            .row
              .large-6.columns.large-centered
                  h4.subheader.text-center(style="color:#2ba6cb") Please sign-in using
                  .large-4.columns
                    a(href="/auth/facebook").fc-webicon.facebook.large
                  .large-4.columns
                    a(href="#").fc-webicon.googleplus.large
                  .large-4.columns
                     a(href="#").fc-webicon.twitter.large

              block localauth
      #root_footer
  include ../includes/footer