extends ../layouts/layout-foundation

block content
  include ../includes/thin-header
  .row
    .large-6.columns.large-centered.moveup
      .panel
        .row
          .large-6.columns.large-centered
              h4.subheader.text-center(style="color:#2ba6cb") Sign-in using
              .large-4.columns
                a(href="/auth/facebook").fc-webicon.facebook.large
              .large-4.columns
                a(href="#").fc-webicon.googleplus.large
              .large-4.columns
                 a(href="/auth/facebook").fc-webicon.customlogo.large

          block localauth