extends auth-foundation

block localauth
  .large-12.columns
    br
    h5(style="color:#2ba6cb") or
    form(action="/users", method="post")
        .row
          .large-12.columns
            input(type="text", placeholder="Full name", name='name')
        .row
          .large-12.columns
            input(type="text", placeholder="Your email", name='email')
        //.row
          .large-12.columns
            input(type='text', name="username", placeholder='Username', value=user.username)
        .row
          .large-12.columns
            input(type="password", placeholder="Password", name='password')
        .row
          .large-12.columns
            input(type="password", placeholder="Retype password", name='retype_password')
        .row
          .large-12.columns
            button.alert.radius(type='submit') Sign up
            span &nbsp;or&nbsp;
            a(href="/login")   login