extends ../layouts/layout-foundation

block content
  .row
    .large-12.columns
        .panel.callout
            include ../includes/thin-header
  .row
    .large-2.columns
        ul.side-nav
            //add partials and use ajax requests to get data
            li
                a(href="#") Site Statistics
            li.divider
            li
                a(href="#") Manage Site
            li.divider
            li
                a(href="#") Manage Providers

    .large-6.columns
        table
            thead
                tr
                    th(width="100") Table Header
                    th Table Header
                    th(width="100") Table Header
                    th(width="100") Table Header
            tbody
                tr
                    td Content goes here
                    td Content goes here
                    td Content goes here
                    td Content goes here

    .large-4.columns
        h6 Title of Side Panel
        form
            fieldset
                .row
                    .large-12.columns
                        label Input Label
                        input(type="text", placeholder="placeholder")
                .row
                    .large-4.columns
                        label Label
                        input(type="text", placeholder="placeholder")
                    .large-8.columns
                        .row.collapse
                            label Label
                            .small-4.columns
                                span.prefix.button http://
                            .small-8.columns
                                input(type="text", placeholder="placeholder")
                .row
                    .large-12.columns
                        label Textarea
                        textarea( placeholder="textarea")
                .row
                    .large-12.columns
                        button.small.alert.radius.right(type='submit') Update

  include ../includes/footer