extends ../layouts/default

block content
  p Things to do
  ol
    li Add some routes
    li Add some models, views and controllers
    li Refer to&nbsp;
      a(href="https://github.com/madhums/nodejs-express-mongoose-demo") the demo app
    li Change the content of&nbsp;
      code app/views/home/index.jade
